
p {
  text-transform: capitalize;
}
.panel-default {
  width: 60%;
  align-content: center;
}

.schema-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.schema-default {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 20vw;
  margin: 20px;
  word-wrap: normal;
  transition: 1s;
}
.schema-default .click-space {
  cursor: pointer;
  word-wrap: break-word;
}

.schema-default .click-space :hover{
  background-color: #c0c5ce;
  transition: 0.2s;
}

.schema-default .click-space :active{
  background-color: #a7adba;
}

.schema-active {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 40vw;
  flex-wrap: wrap;
  transition: 0.4s;
}
.schema-active .click-space {
  cursor: pointer;
}

.schema-active .click-space :hover{
  background-color: #c0c5ce;
  transition: 0.1s;
}

.schema-active .click-space :active{
  background-color: #a7adba;
}
.schema-active .field-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.schema-active .field-list .submit-button {
  width: 50%;

}

.Field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
  margin: 3%;
}

.Field .Header {
  display:flex;
  padding: 2%;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #65737e;
}

.Field .Type {
  display: flex;
  padding: 2%;
  width: 100%;
  margin-top: 3%;
  text-align: left;
}
.Field .Optional {
  display:flex;
  padding: 2%;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 3%;
}
label {
  text-align: left;
}
